module.exports = {
  game: 'arma3', // arma3, arma2oa, arma2, arma1, cwa, ofpresistance, ofp, reforger
  path: 'path-to-arma3-directory',
  port: 3000,
  host: '0.0.0.0', // Can be either an IP or a Hostname
  type: 'linux', // Can be either linux, windows or wine
  additionalConfigurationOptions: '', // Additional configuration options appended to server.cfg file
  parameters: [ // Additional startup parameters used by all servers
    '-noSound',
    '-world=empty'
  ],
  reforger: {
    configs: 'path-to-configs-folder', // Folder where server config files will be stored
    profiles: 'path-to-profiles-folder', // Folder where logs and persistence data will be stored. Each server will create a subfolder.
    region: 'EU', // Region in which servers will be hosted, https://community.bistudio.com/wiki/Arma_Reforger:Server_Hosting#region
    workshop: 'path-to-workshop-folder' // Folder where workshop mods will be stored
  },
  serverMods: [ // Mods used exclusively by server and not shared with clients
    '@mod1',
    '@mod2',
  ],
  admins: [], // add steam IDs here to enable #login without password
  auth: { // If both username and password is set, HTTP Basic Auth will be used. You may use an array to specify more than one user.
    username: '', // Username for HTTP Basic Auth
    password: '', // Password for HTTP Basic Auth
  },
  prefix: "", // Prefix to all server names
  suffix: "", // Suffix to all server names
  logFormat: "dev", // expressjs/morgan log format
};
