module.exports = {
  game: 'arma3', // arma3, arma2oa, arma2, arma1, cwa, ofpresistance, ofp
  path: 'path-to-arma3-directory',
  port: 3000,
  host: '0.0.0.0', // Can be either an IP or a Hostname
  type: 'linux', // Can be either linux, windows or wine
  parameters: [ // Additional startup parameters used by all servers
    '-noSound',
    '-world=empty'
  ],
  serverMods: [ // Mods used exclusively by server and not shared with clients
    '@mod1',
    '@mod2',
  ],
  steam: {
    path: 'path-to-main-steam-folder',
  },
  auth: { // If both username and password is set, HTTP Basic Auth will be used
    username: '', // Username for HTTP Basic Auth
    password: '', // Password for HTTP Basic Auth
  },
  prefix: "", // Prefix to all server names
  suffix: "", // Suffix to all server names
};
