<td>
  <% if (size < 100 * 1024 * 1024) { %>
    <!-- Only show files under 100 MB -->
    <a href='api/logs/<%-name%>/view' target=_blank><%-name%></a>
  <% } else { %>
    <%-name%>
  <% } %>
</td>
<td class="hidden-xs hidden-sm" style="text-align: right; white-space: nowrap;">
  <%- new Date(created).toLocaleString() %>
</td>
<td class="hidden-xs hidden-sm" style="text-align: right; white-space: nowrap;">
  <%- new Date(modified).toLocaleString() %>
</td>
<td style="text-align: right; white-space: nowrap;">
  <%-formattedSize%>
</td>
<td>
  <a class="btn btn-primary btn-xs" href="api/logs/<%-name%>/download">
    <span class="glyphicon glyphicon-download"></span>
    Download
  </a>
</td>
<td>
  <a class="btn btn-danger btn-xs destroy ladda-button pull-right" data-style="expand-left">
    <span class="glyphicon glyphicon-trash"></span>
    Delete
  </a>
</td>
