<td style="width: 100%;">
  <p>
    <strong><%-name%></strong>
    <small><%-type%></small
  </p>
  <p><%-title%></p>
</td>
<td>
  <p>
    <% if (progress()) { %>
      <div class="progress" style="margin-bottom: 0;">
        <div class="progress-bar" role="progressbar" aria-valuenow="<%-progress()%>" aria-valuemin="0" aria-valuemax="100" style="width: <%-progress()%>%; min-width: 2em;">
          <%-progress()%>%
        </div>
      </div>
    <% } else { %>
      <a class="btn btn-primary btn-xs install ladda-button pull-right" data-style="expand-left">
        <span class="glyphicon glyphicon-save"></span>
        Install
      </a>
    <% } %>
    <div class="clearfix"></div>
  </p>
  <p>
    <small class="pull-right"><%-formattedSize%></small>
    <div class="clearfix"></div>
  </p>
</td>
